services:
  comfyui:
    build:
      context: .
      dockerfile: Dockerfile.cpu
    
    container_name: comfyui
    hostname: comfyui
    
    environment:
      - CIVITAI_TOKEN=${CIVITAI_TOKEN:-}
      - HF_TOKEN=${HF_TOKEN:-}
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
      - DOWNLOAD_WAN22=${DOWNLOAD_WAN22:-false}
      - DOWNLOAD_FLUX_FP8=${DOWNLOAD_FLUX_FP8:-false}
      - DOWNLOAD_FLUX_KONTEXT=${DOWNLOAD_FLUX_KONTEXT:-false}
      - DOWNLOAD_CHROMA=${DOWNLOAD_CHROMA:-false}
      - DOWNLOAD_ZIMAGE=${DOWNLOAD_ZIMAGE:-false}
      - DOWNLOAD_ZIMAGE_GGUF=${DOWNLOAD_ZIMAGE_GGUF:-true}
      - DOWNLOAD_UPSCALER=${DOWNLOAD_UPSCALER:-false}
      - DOWNLOAD_STEADY_DANCER=${DOWNLOAD_STEADY_DANCER:-false}
      - DOWNLOAD_WAN22_ANIMATE=${DOWNLOAD_WAN22_ANIMATE:-false}
    
    ports:
      - "8188:8188"                 # ComfyUI web interface
      - "8888:8888"                 # Jupyter notebook server
    
    # Simulate RunPod network volume by mounting entire /workspace
    volumes:
      # - ./src:/src
      - ./workspace:/workspace
